@font-face {
	font-family: "klavika";
	src: url("./fonts/klavika-medium.otf") format("otf");
	font-style: medium;
	font-weight: 500;
}

@font-face {
	font-family: "klavika";
	src: url("./fonts/klavika-bold.otf") format("otf");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "nunito";
	src: url("./fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}
// font
